Dev/Modelagem/Eletromagnetica/Circuito Ativo/Bck/
*.mph
*~
*.bak
*.nlo
*.tdo

Artigo/
Artigo/ensaio/
Bck/
Dev/FEM/
Dev/Mancal/
Dev/Modelagem/Dinamica/leo_mancal_v2/belezura.m
Dev/Modelagem/Dinamica/leo_mancal_v2/mancal_v2_corsi_simu.slx
Dev/Modelagem/Dinamica/leo_mancal_v2/mancal_v2_corsi_simu.slx.autosave
Dev/Modelagem/Dinamica/leo_mancal_v2/parametrizaMancal_corsi.m
Dev/Modelagem/Dinamica/leo_mancal_v2/proj_controlador.slx
Dev/Modelagem/Dinamica/leo_mancal_v2/untitled.png
Dev/Modelagem/Dinamica/mancal_v2/
Dev/Modelagem/Eletromagnetica/Circuito Ativo/Bobinas-eq-10A-uma.mph.lock
Dev/Modelagem/Eletromagnetica/Circuito Ativo/Mapa_forcas_ativo_comsol.mat
Dev/Modelagem/Eletromagnetica/matlab.mat
Dev/Modelagem/Eletromagnetica/untitled.m
Dissertacao/Figs/Modelagem/controlador_estimador.pdf
Dissertacao/Figs/Modelagem/controlled.eps
Dissertacao/Figs/Modelagem/controlled_time-eps-converted-to.pdf
Dissertacao/Figs/Modelagem/controlled_time.eps
Dissertacao/Figs/Modelagem/openloop-eps-converted-to.pdf
Dissertacao/Figs/Modelagem/openloop.eps
Dissertacao/Figs/Simulacoes/Ativo/mapa_forcas_ativo_comsol-eps-converted-to.pdf
Dissertacao/Figs/Simulacoes/Ativo/mapa_forcas_ativo_comsol.eps
Dissertacao/Figs/mancais/prototipo.jpg
Dissertacao/Figs/modelo_circuito_passivo_ima.svg
Dissertacao/Figs/modelo_dim.svg
Dissertacao/mestrado.pdf
campo_xy.png
campo_xz.png

